.project-and-case {
    padding-bottom: 5rem;
  }
  .project-and-case .container .section-title {
    text-align: center;
  }
  .project-and-case .container .project-and-cases {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  @media (min-width: 768px) {
    .project-and-case .container .project-and-cases {
      grid-template-columns: 1fr 1fr;
    }
  }
  .project-and-case .container .project-and-cases article img {
    width: 100%;
    height: auto;
  }
  .project-and-case .container .project-and-cases article h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-top: 35px;
    padding-bottom: 16px;
    border-bottom: 1px solid #DAD9D3;
  }
  .project-and-case .container .project-and-cases article a {
    padding: 15px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  .project-and-case .container .project-and-cases article a i {
    margin-left: 5px;
  }
  .project-and-case .container .all-recent-projects {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }